<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <test name="base">
        <groups>
            <run>
                <include name="noregress"/>
            </run>
        </groups>
        <classes>
            <class name="lesson_5.TestNGExample">
            </class>
        </classes>
    </test>

    <test name="Test" thread-count="5">
        <classes>
            <class name="lesson_5.SimbirSoftTests"/>
        </classes>
    </test>

    <test name="paramTest1">
        <parameter name="name" value="Zoidberg"/>
        <parameter name="password" value="doctor"/>
        <classes>
            <class name="lesson_5.TestNGExample"/>
        </classes>
    </test>

    <test name="paramTest2">
        <parameter name="name" value="Leela"/>
        <parameter name="password" value="doctor"/>
        <classes>
            <class name="lesson_5.TestNGExample"/>
        </classes>
    </test>
</suite>
